[submodule "tests/conformance_testing"]
	path = tests/conformance_testing
	url = git@github.com:bloppan/conformance_testing.git
[submodule "tests/jam-conformance"]
	path = tests/jam-conformance
	url = https://github.com/davxy/jam-conformance
[submodule "jam-utils/bandersnatch-vrf-spec"]
	path = jam-utils/bandersnatch-vrf-spec
	url = https://github.com/bloppan/bandersnatch-vrf-spec
